body{
    margin-left: 30%;
    margin-right: 30%;
    background-color: rgb(194, 255, 255);
    
}
/* h1{
    text-align: center;
} */
table{
    background-color: rgb(99, 162, 99);
    
}
img{
    width: 30%;
    float: left;
    padding: 10px;
}